apiVersion: v2
name: external-secrets
description: External secrets management for Kubernetes
type: application
version: "0.20.4-bb.2"
appVersion: "v0.20.4"
kubeVersion: ">= 1.19.0-0"
keywords:
  - kubernetes-external-secrets
  - secrets
home: https://github.com/external-secrets/external-secrets
icon: https://raw.githubusercontent.com/external-secrets/external-secrets/main/assets/eso-logo-large.png
maintainers:
  - name: mcavoyk
    email: kellinmcavoy@gmail.com
dependencies:
  - name: gluon
    version: "0.9.6"
    repository: "oci://registry1.dso.mil/bigbang"
  - name: external-secrets
    version: "0.20.4"
    repository: https://charts.external-secrets.io
    alias: upstream
annotations:
  bigbang.dev/maintenanceTrack: bb_integrated
  bigbang.dev/applicationVersions: |
    - External Secrets: 0.20.4
  helm.sh/images: |
    - name: external-secrets
      image: registry1.dso.mil/ironbank/opensource/external-secrets/external-secrets:v0.20.4
    - name: kubectl
      image: registry1.dso.mil/ironbank/opensource/kubernetes/kubectl:v1.33
      condition: waitJob.enabled
      
