domain: bigbang.dev

istio:
  enabled: false
  hardened:
    enabled: false
    outboundTrafficPolicyMode: "REGISTRY_ONLY"
    customServiceEntries: []
    #   - name: "allow-google"
    #     enabled: true
    #     spec:
    #       hosts:
    #         - google.com
    #       location: MESH_EXTERNAL
    #       ports:
    #         - number: 443
    #           protocol: TLS
    #           name: https
    #       resolution: DNS
    customAuthorizationPolicies: []
    # - name: "allow-nothing"
    #   enabled: true
    #   spec: {}
  mtls:
    # -- STRICT = Allow only mutual TLS traffic,
    # PERMISSIVE = Allow both plain text and mutual TLS traffic
    mode: STRICT
  injection: disabled

networkPolicies:
  enabled: false
  ingressLabels:
    app: istio-ingressgateway
    istio: ingressgateway
  additionalPolicies: []

bbtests:
  enabled: false
  # This is all data for the testing harnesses and users shouldn't mess with it.  
  namespace: external-secrets
  scripts: 
    image: registry1.dso.mil/ironbank/big-bang/base:2.1.0   
  secretstore:
    name: external-secrets-test-store
  serviceaccount:
    name: external-secrets-external-secrets-script-sa
  secrets:
    testsecret:
      value: "this is a magic value"

waitJob:
  enabled: true
  permissions:
    apiGroups:
      - external-secrets.io
      - generators.external-secrets.io
      - ""
    resources:
      - acraccesstokens
      - clusterexternalsecrets
      - clustersecretstores
      - ecrauthorizationtokens
      - externalsecrets
      - fakes
      - gcraccesstokens
      - githubaccesstokens
      - passwords
      - pushsecrets
      - secretstores
      - vaultdynamicsecrets
      - webhooks
      - secrets
    verbs:
      - create
      - delete
      - get
      - list
      - watch

env:
  EXTERNAL_SECRETS_NAMESPACE: "external-secrets"

clusterSecretStoreConfiguration:
  enabled: false
  clusterSecretStoreList:
    - name: ""
      namespace: ""
      # labels: ""
      # annotations: ""
      # -- define types of authentication: ##
      source: 
        # -- AWS secrets manager only - other services can be added later ##
        provider: aws 
        # -- Specify type of service, i.e., SecretsManager (default) ##
        service: SecretsManager 
        # -- Specify AWS region, i.e. us-gov-west-1 (default) ##
        region: "us-gov-west-1"
        auth:
          # -- Specify authType is required: identity, accesskey or serviceaccount ##
          authType: ""  
          # -- Name of the accessKeyID and secretAccessKey pair ##
          accessKeyName: "" 
          # -- Specify AWS Access Key ID file ##
          accessKeyID: ""
          # -- Specify AWS Secret Access Key file ##
          secretAccessKey: ""

externalSecretsConfiguration:
  enabled: false  # -- Enable or disable ExternalSecrets generation
  refreshInterval: "1m"
  secretList:
    - name: ""  # -- Name of the ExternalSecret resource (must be unique per namespace)
      namespace: ""   # -- Kubernetes namespace to create the ExternalSecret in
      secrets:
        targetName: ""   # -- Name of the resulting Kubernetes Secret created by ExternalSecret
        targetPolicy: "Owner" # -- Target creation policy: "Owner", "Merge", or "None". Default is "Owner"

        # -- : Use this block if retrieving multiple key-value pairs from the same external secret
        # data:
        #   - secretKey:   # -- Key name to store in the resulting Kubernetes Secret
        #     remoteRef:  
        #       key:    # -- External secret key path
        #       property:  # -- Specific property to extract from the secret (e.g., "username", "password")
        #       version: ""   # -- (Optional) Version of the secret
              
        #   - secretKey:  # -- Another secret key to extract and store
        #     remoteRef:  
        #       key:      # -- External secret key path (e.g., AWS Secrets Manager or SSM parameter path)
        #       property:  # -- Property to extract from the remote secret
        #       version: ""   # -- (Optional) Version of the secret
              
        # -- Use this block to extract all keys from external-secrets
        # dataFrom:
        #   - extract: 
        #       key:      
          
# -- Values to pass to [the upstream external-secrets chart](https://github.com/external-secrets/external-secrets/blob/main/deploy/charts/external-secrets/values.yaml)
# @default -- Upstream chart values          

upstream:
  
  nameOverride: external-secrets
  fullnameOverride: external-secrets
  namespaceOverride: external-secrets
  
  installCRDs: false
  
  deploymentAnnotations: {}
  
  webhook: 
    create: false
  
  serviceAccount:
    # -- Specifies whether a service account should be created.
    create: true
    # -- Automounts the service account token in all containers of the pod
    automount: true
    # -- Annotations to add to the service account.
    annotations: {}
    # -- Extra Labels to add to the service account.
    extraLabels: {}
    # -- The name of the service account to use.
    # If not set and create is true, a name is generated using the fullname template.
    name: ""

  rbac:
    # -- Specifies whether role and rolebinding resources should be created.
    create: true
    servicebindings:
      # -- Specifies whether a clusterrole to give servicebindings read access should be created.
      create: true
    # -- Specifies whether permissions are aggregated to the view ClusterRole
    aggregateToView: true
    # -- Specifies whether permissions are aggregated to the edit ClusterRole
    aggregateToEdit: true
    
  scopedNamespace: ""
  scopedRBAC: false  
  
  # -- Specifies the number of concurrent ExternalSecret Reconciles external-secret executes at
  # a time.
  concurrent: 1
  # -- Specifies Log Params to the External Secrets Operator
  log:
    level: info
    timeEncoding: epoch
  service:
    # -- Set the ip family policy to configure dual-stack see [Configure dual-stack](https://kubernetes.io/docs/concepts/services-networking/dual-stack/#services)
    ipFamilyPolicy: ""
    # -- Sets the families that should be supported and the order in which they should be applied to ClusterIP as well. Can be IPv4 and/or IPv6.
    ipFamilies: [] 

  certController:
    create: false
          
  securityContext:
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL
    enabled: true
    readOnlyRootFilesystem: true
    runAsNonRoot: true
    runAsUser: 1000
    runAsGroup: 1000
    seccompProfile:
      type: RuntimeDefault

  resources:
    requests:
      memory: 256Mi
      cpu: 100m
    limits:
      cpu: 100m
      memory: 256Mi

  image:
    repository: registry1.dso.mil/ironbank/opensource/external-secrets/external-secrets
    pullPolicy: IfNotPresent
    # -- The image tag to use. The default is the chart appVersion.
    tag: "v0.20.4"
  
  imagePullSecrets:
  - name: private-registry
