{{- if .Values.externalSecretsConfiguration.enabled }}
{{- $root := . }}
{{- if .Values.externalSecretsConfiguration.secretList }}
{{- range $ind, $val := $root.Values.externalSecretsConfiguration.secretList }}
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: {{ $val.name }}-externalsecrets
  namespace: {{ $val.namespace }}
  {{- with $val.labels }}
  labels: 
    {{ toYaml . | nindent 4 }}
  {{- end }}
  {{- with $val.annotations }}
  annotations: 
    {{ toYaml . | nindent 4 }}
  {{- end }}
spec:
  refreshInterval: {{ $val.refreshInterval | default "1m" }} 
  secretStoreRef:
    name: {{ $val.name }}
    kind: ClusterSecretStore
  target: 
    name: {{ $val.secrets.targetName | default "default-k8s" }}
    creationPolicy: {{ $val.secrets.targetPolicy | default "Owner" }} 
  {{- if $val.secrets.data }}
  data:
  {{ toYaml $val.secrets.data | nindent 4 }}
  {{- else if $val.secrets.secretKeyName.key }}  
  data: 
    - secretKey: {{ $val.secrets.secretKeyName.property | default "value" | quote }}
      remoteRef:  
        key: {{ $val.secrets.secretKeyName.key | quote }}
        {{- with $val.secrets.secretKeyName.property }}
        property: {{ . | quote }}
        {{- end }}
        {{- with $val.secrets.secretKeyName.version }}
        version: {{ . | quote }}
        {{- end }}
        {{- with $val.secrets.secretKeyName.metadataPolicy }}
        metadataPolicy: {{ . | quote }}
        {{- end }}
  {{- else }}
  dataFrom:
    - extract: 
        key: 
  {{- end }}      
{{- end }}
{{- end }}
{{- end }}


