{{- if .Values.clusterSecretStoreConfiguration.enabled }}
{{- range $ind, $val := .Values.clusterSecretStoreConfiguration.clusterSecretStoreList }}
---
apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: {{ $val.name }}
  {{- with $val.labels }}
  labels: 
    {{ toYaml . | nindent 4 }}
  {{- end }}
  {{- with $val.annotations }}
  annotations: 
    {{ toYaml . | nindent 4 }}
  {{- end }}
spec:
  provider:
    {{- if eq $val.source.provider "aws" }}
    aws:
      service: {{ $val.source.service }}
      region: {{ $val.source.region }}     
      {{- if $val.source.auth.role }}
      role: {{ $val.source.auth.role }}
      {{- end }}
      {{- if ne $val.source.auth.authType "identity" }}
      auth: 
        {{- if eq $val.source.auth.authType "accesskey" }}
        secretRef:
          accessKeyIDSecretRef:
            name: {{ $val.source.auth.accessKeyName }}
            key: {{  $val.source.auth.accessKeyID }}
            namespace: {{ $val.namespace }}
          secretAccessKeySecretRef:
            name: {{ $val.source.auth.accessKeyName }}
            key: {{ $val.source.auth.secretAccessKey }}
            namespace: {{ $val.namespace }}     
        {{- end  }}
        {{- if eq $val.source.auth.authType "serviceaccount" }}
        jwt:
          serviceAccountRef:
            name: {{ $val.source.auth.serviceAccount }}
        {{- end }}
      {{- end }}
    {{- else if eq $val.source.provider "vault" }}
    vault:
      server: {{ $val.source.server | quote }}
      path: {{ $val.source.path | quote }}
      version: {{ $val.source.version | quote }}
      auth:
        {{- if eq $val.source.auth.type "token" }}
        tokenSecretRef:
          name: {{ $val.source.auth.secretName | quote }}
          key: {{ $val.source.auth.key | quote }}
          {{- if $val.source.auth.namespace }}
          namespace: {{ $val.source.auth.namespace | quote }}
          {{- end }}
        {{- else if eq $val.source.auth.type "kubernetes" }}
        kubernetes:
          mountPath: {{ $val.source.auth.mountPath | default "kubernetes" | quote }}
          role: {{ $val.source.auth.role | quote }}
          serviceAccountRef:
            name: {{ $val.source.auth.serviceAccountRef.name | quote }}
            namespace: {{ $val.source.auth.serviceAccountRef.namespace | quote }}
        {{- end }}
    {{- end }}
{{- end }}
{{- end }}